body{
    background-color: #D8EFD4;
}

.imagem1{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}

h2{
    text-align: center;
}

figure{
    text-align: right;
}